/*
 * Default settings
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    max-height: 100%;
    max-width: 100%;
}

article {
    margin: 0.5em;
}

header {
    background: #555;
    height: 4em;
}


footer {
    background: #444;
    height: 2em;
}

main {
    display: flex;
    flex-direction: column;
    background: #888;
    flex: 1;
    overflow: hidden;
}

textarea {
    resize: vertical;
}

input {
    border-radius: 0.1em;
}

.error input {
    box-shadow: 0 0 3px #CC0000;
}

.valid input {
    box-shadow: 0 0 3px #36CC00;
}


/*
 * Backgrounds
 */

.bg-1 {
    background: #23395b;
}

.bg-2 {
    background: #e9ecef;
}

.bg-3 {
    background: #f8f9fa;
}

/*
 * Text
 */

.text-subtitle {
    font-size: 1.2em;
    font-family: sans-serif;
}

.text-title {
    font-size: 2em;
    font-family: sans-serif;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #0000ff;
}

.text-error {
    color: #f00;
    font-size: 0.7em;
}

/*
 * Height 
 */

.height-2 {
    height: 2em;
}

.height-3 {
    height: 3em;
}

.height-4 {
    height: 4em;
}

.height-5 {
    height: 5em;
}

.height-6 {
    height: 6em;
}

/*
 * Appearance settings
 */

.left-align-text {
    text-align: left;
}

.shadow {
    box-shadow: 00px 00px 8px 4px rgba(0, 0, 0, 0.2);
}

.center-v {
    align-content: center;
    align-items: center;
}

.center-h {
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.of-hidden {
    overflow: hidden;
}

.round-corners {
    border-radius: 0.5em;
}

.round-corners-s {
    border-radius: 0.2em;
}

/*
 * Flex, padding, and margins
 */

.pad-s {
    padding: 0.2em;
}

.pad-l {
    padding: 1em;
}

.pad-s-side {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.display-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.mar-s {
    margin: 0.2em;
}

.mar-l {
    margin: 1.0em;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


/*
 * Other
 */

.logbook-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #23395b;
}

.entry-container {
    flex: 1;
    overflow-y: scroll;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 40em;
    max-height: 40em;
}

.homepage-container input {
    font-size: 1.5em;
}

.floating-window {
    display: flex;
    flex-direction: column;
    height: 25em;
}

.logbook-entry {
    margin: 0.5em;
    background: #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 10px 8px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

.popup-anim:hover {
    transform: scale(1.008);
}

.new-entry-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin: 0em;
}

.full-width {
    width: 100%;
    flex: 1;
}

.full-heigth {
    height: 100%;
    flex: 1;
}

.button-width {
    width: 100%;
    flex: 1;
}


.new-entry-content {
    padding: 0.5em;
    align-items: left;
    background: #eee;
    flex: 1;
}

.logo {
    flex: 1;
}

.add-button {
    flex: 1;
}


/*
 * Modal from htmx.org website example
 */

#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal>.modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal>.modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 100%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing>.modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}
