{{ block "com-logbook-entry" . }}

{{$offset := .Offset}}
{{$limit := .Limit}}
{{$loadmore := .LoadMore}}
{{ range .EntryData }}

{{$entryid := .Entryid}}
{{$entrytitle := .Title}}
{{$description := .Description}}
{{$createdon := .Createdon}}
{{$createdby := .Createdby}}
{{$logbookid := .Logbookid}}

<div class="logbook-entry round-corners popup-anim" hx-trigger="click" hx-get="/modal/edit/{{$logbookid}}/{{$entryid}}"
    hx-target="body" hx-swap="beforeend">
    <div class="bg-1 white-txt text-subtitle small-pad" id="">
        <p>{{ $entrytitle }}</p>
    </div>
    <div class="bg-2 flex-col flex-grow-1">
        <article>
            {{ $description }}
        </article>
    </div>
    <div class="bg-3 flex-row flex-grow-1 space-between side-pad-1">
        <p>{{ $createdon }}</p>
        <p>{{ $entryid }}</p>
    </div>
</div>
{{ end }}
{{ if $loadmore }}
<div class="scroll-trigger" hx-trigger="intersect, click" hx-target="#entry-container" hx-swap="beforeend"
    hx-get="/logbook/1/entries?limit={{$limit}}&offset={{$offset}}" _="on intersect remove me">
    Load more...
</div>
{{ end }}
{{ end }}
