{{ block "com-logbook-entry" . }}

{{ range .EntryData }}
<div class="logbook-entry round-corners popup-anim" hx-trigger="click" hx-get="/logbook/1/entries/1/modal/edit"
    hx-target="body" hx-swap="beforeend">
    <div class="bg-1 white-txt text-subtitle small-pad" id="">
        <p>{{ .Title }}</p>
    </div>
    <div class="bg-2 flex-col flex-grow-1">
        <article>
            {{ .Description }}
        </article>
    </div>
    <div class="bg-3 flex-row flex-grow-1 space-between side-pad-1">
        <p>{{ .Createdon }}</p>
        <p>{{ .Entryid }}</p>
    </div>
</div>
{{ end }}

{{ if .Links.Entries }}
{{ template "com-scroll-trigger" . }}
{{ end }}

{{ end }}
