{{ define "modal" }}
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        {{ template "new-entry" }}
        <br>
        <br>
        <button class="btn danger" _="on click trigger closeModal"
            hx-get="/logbook/1/entries?limit=1&offset=0&latest_only=true" hx-target="#entry-container"
            hx-swap="beforebegin">Close</button>
    </div>
</div>
{{ end }}
