{{ block "logbook" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logbook</title>
    <link href="/styles/logbook.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>
    <header>{{ template "com-logbook-header" . }}</header>
    <main hx-trigger="load" hx-target="#entry-container" hx-swap="innerHTML"
        hx-get="/logbook/{{.}}/entries?limit=5&offset=0">
        <div class="entry-container" id="entry-container">
        </div>
    </main>
    <footer class="center">
        <a class="white-txt"
            href="https://github.com/Remi-Godin/simple-log">https://github.com/Remi-Godin/simple-log</a>
    </footer>
</body>

</html>

{{ end }}
