{{ define "logbook" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logbook</title>
        <link href="/styles/logbook.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    </head>
    <body>
        <main hx-trigger="load" hx-swap="innerHTML" hx-get="/logbook/1/entries?limit=5&offset=0" id="log"></main>
        <div hx-trigger="revealed" hx-target="#log" hx-swap="afterend" hx-get="/logbook/1/entries?limit=1&offset=0">Load more...</div>
    </body>
</html>

{{ end }}


