{{ block "page-logbook" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>logbook</title>
    <link href="/styles/logbook.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>

    <div class="logbook-container">

        <header class="logbook-header">
            <img src="/assets/logo_white.svg" alt="SimpleLog" />
        </header>
        <div class="logbook-title">
            <h1>{{.Data.LogbookTitle}}</h1>
            <h3>{{.Data.LogbookDescription}}</h3>
        </div>
        <div class="logbook-nav">
            <img title="Add" src="/assets/add_button.svg" alt="Add" class="popup-anim" hx-get="{{.Links.Create}}" />
            <img title="User Settings" src="/assets/profile.svg" alt="User Settings" class="popup-anim" />
            <img title="Logout" src="/assets/logout.svg" alt="Logout" class="popup-anim" />
        </div>
        <div class="logbook-content">
            <div class="logbook-menu">
                MENU GOES HERE
            </div>
            <div id="main-container" class="logbook-entries-container shadow-inset">

                <div hx-get="{{.Links.InitialLoad}}" hx-trigger="load" hx-swap="innerHTML" hx-target="#main-container">
                </div>

            </div>
        </div>
        <footer class="logbook-footer">
            This is the footer
        </footer>

    </div>

</body>

</html>
{{ end }}
