{{ block "register-form" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleLog</title>
    <link href="/styles/logbook.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<div id="register-container" class="">
    <div class="bg-2 pad-l">
        <form id="register-form" class="">
            <div id="email-input">
                {{ template "validated-input-field" .Email }}
            </div>
        </form>
        {{ if .Links.Submit }}
        <input type="submit" class="button-width height-2" value="Submit" hx-post="{{ .Links.Submit }}"
            hx-include="#register-form" hx-target="#register-container">
        {{ end }}
    </div>
</div>

</html>
{{ end }}




{{ block "validated-input-field" . }}
<div id="{{.FieldId}}" class="validated-input-field">
    <label for="{{.FieldName}}">{{.FieldNameText}}</label>
    <input type="{{.FieldType}}" name="{{.FieldName}}" value="{{.FieldValue}}" {{if .Invalid}} class="invalid" {{end}}
        {{if .Valid}} class="valid" {{end}} hx-get="{{.Links.ValidateField}}" hx-target="#email-input"
        hx-swap="innerHTML" />
    <div class="error-message">
        <p>{{.Err}}</p>
    </div>
</div>
{{ end }}




{{ block "register-password" . }}
<div {{ if .FieldData }}{{ if .Err }} class="error" {{ else }}class="valid" {{end}}{{end}}>
    <label for="password" class="text-subtitle">Password:</label><br>
    <input class="full-width" type="password" name="password" required hx-get="{{ .Links.ValidatePassword }}"
        hx-target="#password-input" hx-swap="innerHTML" value="{{.FieldData}}">
    <div class="text-error">
        {{ .Err }}
    </div>
</div>
{{ end }}

{{ block "success" . }}

<div>
    <div hx-trigger="load delay:3s" hx-get="/logbook/1"></div>
    <p>Account created for {{.Email.FieldData}} with success!</p>
    <p>You will be redirected to SimpleLog shortly.</p>
</div>

{{ end }}
