{{ block "register-form" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleLog</title>
    <link href="/styles/logbook.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<div id="register-container">

    <div>
        <form id="register-form" class="bg-2">
            <div id="first-name-input">
                {{ template "register-first-name" .FirstName }}
            </div>
            <br>
            <div id="last-name-input">
                {{ template "register-last-name" .LastName }}
            </div>
            <br>
            <div id="email-input">
                {{ template "register-email" .Email }}
            </div>
            <br>
            <div id="password-input">
                {{ template "register-password" .Password }}
            </div>
            <br>
        </form>
        {{ if .Links.Submit }}
        <input type="submit" class="button-width height-2" value="Submit" hx-post="{{ .Links.Submit }}"
            hx-include="#register-form">
        {{ end }}
    </div>

</div>

</html>
{{ end }}

{{ block "register-first-name" . }}
<label for="first-name" class="text-subtitle">First name:</label><br>
<input class="full-width" type="text" name="first-name" required value="{{ .FieldData }}"
    hx-get="{{ .Links.ValidateFirstName }}" hx-swap="innerHTML" hx-target="#first-name-input">
{{ if .Err }}
<div class="error-message">
    {{ .Err }}
</div>
{{ end }}
{{ end }}

{{ block "register-last-name" . }}
<label for="last-name" class="text-subtitle">Last name:</label><br>
<input class="full-width" type="text" name="last-name" required value="{{ .FieldData }}"
    hx-get="{{ .Links.ValidateLastName }}" hx-swap="innerHTML" hx-target="#last-name-input">
{{ if .Err }}
<div class="error-message">
    {{ .Err }}
</div>
{{ end }}
{{ end }}


{{ block "register-email" . }}
<label for="email" class="text-subtitle">Email:</label><br>
<input class="error" type="email" id="email" name="email" required hx-get="{{ .Links.ValidateEmail }}"
    hx-target="#email-input" hx-swap="innerHTML" value="{{.FieldData}}">
{{ if .Err }}
<div class="error-message">
    {{ .Err }}
</div>
{{ end }}
{{ end }}

{{ block "register-password" . }}
<label for="password" class="text-subtitle">Password:</label><br>
<input class="full-width" type="password" name="password" required hx-get="{{ .Links.ValidatePassword }}"
    hx-target="#password-input" hx-swap="innerHTML" value="{{.FieldData}}">
{{ if .Err }}
<div class="error-message">
    {{ .Err }}
</div>
{{ end }}
{{ end }}
